.container-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px;
  height: auto;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 20px;
}

.inputs {
  width: 20rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  background-color: black;
  border-color: lightgray;
  color: lightgray;
}

.sign-btn {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--btn-color);
  color: white;
}

.sign-btn:hover {
  background-color: var(--btn-hover-color);
}

.p-account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.span-account {
  margin-left: 6px;
}

/* RESPONSIVE */

/* Pantallas pequeñas */
@media (max-width: 768px) {
  .container-sign {
    padding: 40px;
    margin-top: 30px;
  }

  .inputs {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .sign-btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .p-account {
    font-size: 14px;
  }
}

/* Móviles */
@media (max-width: 480px) {
  .container-sign {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }

  .inputs {
    width: 90%;
    padding: 6px;
    font-size: 12px;
  }

  .sign-btn {
    font-size: 16px;
    padding: 12px 24px;
  }

  .p-account {
    font-size: 12px;
  }
}
