/* Estilo general para la página */
.container-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

header h1 {
  display: flex;
  margin: 0 auto;
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

#logout-btn {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

#logout-btn:hover {
  color: var(--btn-hover-color-delete);
}

.main-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

/* Estilos para las columnas */
.sidebar,
.feed,
.right-sidebar {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

/* Columna izquierda (Friends) */
.sidebar {
  flex: 1;
  /* max-width: 250px; */
}

/* Columna central (What’s happening) */
.feed {
  flex: 2;
  /* overflow: scroll; */
  /* max-width: 600px; */
}

/* Columna derecha (How to follow) */
.right-sidebar {
  flex: 1;
}

/* Estilos para los títulos */
h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

/* Estilos para la lista de amigos */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 8px 0;
  font-size: 16px;
  color: #555;
}

/* Estilos para las publicaciones del feed */
.feed .post {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.feed .post p {
  font-size: 14px;
  color: #555;
}

/* Estilos para la sección How to follow */
.right-sidebar {
  border-left: 2px solid #ccc;
  padding-left: 20px;
}

.all-users {
  margin-top: 20px;
}

/* Estilo responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .sidebar,
  .feed,
  .right-sidebar {
    max-width: 100%;
    margin: 10px 0;
  }

  .right-sidebar {
    border-left: none;
    border-top: 2px solid #ccc;
    padding-left: 0;
    padding-top: 20px;
  }
}
